{% for article in article_results['articles'] %}
<div class="span9 media" style="margin-top:0px;">
    {% if article['first_image'] %}
    <a class="pull-left" href="{{article['url']}}">
    <img src="{{article['first_image']}}=s100-c" width="100" height="100" class="img-rounded pull-left">
    </a>
    {% endif %}
    <div class="media-body" onClick="location.href='{{article['url']}}';">
        <h2>{{article['title']}}</h2>
        <p>{{article['snippet']}}</p>
        <p class="display_time_local">{{article['display_time']}}</p>
        <p><a class="btn" href="{{article['url']}}">{{_('View details')}} &raquo;</a></p>
    </div>
</div>
{% endfor %}
<div class="span9">
    <div class="pagination">
        <ul>
            {% for i in range(1,article_results['total_pages']+1) %}
            <li {% if i == article_results['current_page'] %}class="active"{% endif %}><a href="{{url_for('mainapp/article_list')}}{% if i != 1 %}?page={{i}}{% endif %}">{{i}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

