{% extends "mainapp/base.html"%}
{% block title %}{{_('Article List')}} {{article_results['current_page']}} / {{article_results['total_pages']}}{% endblock %}
{% block description %}{% endblock %}
{% block content %}
<div class="page-header">
    <h1>{{_('Article List')}} {{article_results['current_page']}} / {{article_results['total_pages']}}</h1>
</div>
<div class="row">
    <div class="span9">
        {% include "mainapp/article_list_main_span9.html" %}
    </div>
    <div class="span3">
        {% include "mainapp/article_list_sidebar_span3.html" %}
    </div>
</div>
{% endblock %}
