{% for article in article_results['articles'] %}
<div class="media" style="margin-top:0px;">
    {% if article['first_image'] %}
    <a class="pull-left" href="{{article['url']}}">
    <img src="{{article['first_image']}}=s100-c" width="100" height="100" class="media-object pull-left">
    </a>
    {% endif %}
    <div class="media-body" onClick="location.href='{{article['url']}}';">
        <h2>{{article['title']}}</h2>
        <p>{{article['snippet']}}</p>
        {% if article['display_time'] %}
        <p class="display_time_local">{{article['display_time']}}</p>
        {% endif %}
        <p><a class="btn btn-default" href="{{article['url']}}">{{_('View details')}} &raquo;</a></p>
    </div>
</div>
{% endfor %}

