{% extends "mainapp/base.html"%}
{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>{{results[0]['title']}}</h1>
    <p>{{results[0]['snippet']}}</p>
    <p><a class="btn btn-primary btn-large" href="{{results[0]['url']}}">Learn more &raquo;</a></p>
</div>

<!-- row of columns -->
<div class="row">
    {% for r in results[1:] %}
    <div class="span4">
        <h2>{{r['title']}}</h2>
        <p>{{r['snippet']}}</p>
        <p><a class="btn" href="{{r['url']}}">View details &raquo;</a></p>
    </div>
    {% endfor %}
</div>
{% endblock %}
