{% extends "mainapp/base.html"%}
{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit media">
    {% if results[0]['first_image'] %}
    <a class="pull-right" href="{{results[0]['url']}}">
    <img src="{{results[0]['first_image']}}=s240-c" width="240" height="240" class="img-rounded pull-right">
    </a>
    {% endif %}
    <div class="media-body" onClick="location.href='{{results[0]['url']}}'">
    <h1>{{results[0]['title']}}</h1>
    <p>{{results[0]['snippet']}}</p>
    <p><a class="btn btn-primary btn-large" href="{{results[0]['url']}}">{{_('Learn more')}} &raquo;</a></p>
    </div>
</div>

<!-- row of columns -->
<div class="row">
    {% for r in results[1:] %}
    <div class="span4 media" style="margin-top:0px;">
        {% if r['first_image'] %}
        <a class="pull-left" href="{{r['url']}}">
        <img src="{{r['first_image']}}=s80-c" width="80" height="80" class="img-rounded pull-left">
        </a>
        {% endif %}
        <div class="media-body" onClick="location.href='{{r['url']}}'">
            <h2>{{r['title']}}</h2>
            <p>{{r['snippet']}}</p>
            <p><a class="btn" href="{{r['url']}}">{{_('View details')}} &raquo;</a></p>
        </div>
    </div>
    {% endfor %}
</div>
<!--row of articles-->
<div class="row">
    <div class="span12"><h2>{{_('Article')}}</h2></div>
    <div class="span9">
        {% include "mainapp/article_list_main_span9.html" %}
    </div>
    <div class="span3">
        {% include "mainapp/article_list_sidebar_span3.html" %}
    </div>
</div>
<div class="row">
    <p class="socialButtons">
        <a href="http://twitter.com/home/?status={{page.title}}+{{request.url}}"><i class="icon-twitter-sign icon-4x"></i></a>&nbsp;
        <a href="http://www.facebook.com/sharer.php?u={{request.url}}&t={{page.title}}"><i class="icon-facebook-sign icon-4x"></i></a>&nbsp;
        <a href="https://plusone.google.com/_/+1/confirm?hl={{request.lang}}&url={{request.url}}"><i class="icon-google-plus-sign icon-4x"></i></a>&nbsp;
    </p>

</div>
{% endblock %}
