{% extends "mainapp/base.html"%}
{% block title %}{{page.title}}{% endblock %}
{% block description %}{% endblock %}
{% block content %}
<div class="page-header">
    <h1>{{page.title}}</h1>
</div>
<div class="row">
    <div class="span9">
    {% if page['display_time'] %}
    <p style="margin-top:-10px;">(<span class="display_time_local">{{page['display_time']}}</span>)</p>
    {% endif %}
    {% if page['tags'] %}
        {% for tag in page['tags'] %}
        <a class="label" href="{{url_for('mainapp/search_by_tag',tag_name=tag)}}">{{tag}}</a>
        {% endfor %}
    {% endif %}
    {{page.content|toMarkdown|safe}}
    </div>
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">{{sidebar['sidebar_title']}}</li>
                {% for sl in sidebar['sidebar_list'] %}
                <li><a href="{{sl['url']}}">{{sl['title']}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
