{% extends "mainapp/base.html"%}
{% block title %}{{ title }}{% endblock %}
{% block description %}{% endblock %}
{% block content %}
<h1>{{ title }}</h1>
<div id="main">
    <div id="modelName" style="display:none;">{{model}}</div>
    <div id="entityKey" style="display:none;"></div>
    <ul class="nav nav-tabs" id="langTab">
        <li class="active"><a href="#{{default_lang}}Tab" data-toggle="tab">{{default_lang}}</a></li>
        <li id="addTranslationNode"><a id="addTranslation">+</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="{{default_lang}}Tab">
            {% call form(class_='form-horizontal') %}
            {% for f in form %}
            <div class="control-group">
                {{ form[f.name].label(class_='control-label')|safe }}
                <div class="controls">
                {{ form[f.name].render(class_='input-block-level')|safe }}
                </div>
            </div>
            {% endfor %}
            <div class="form-actions">
                <button class="btn btn-large btn-block btn-primary" type="submit">{{_('Save')}}</button>
                {#{{ form.default_actions()|safe }}#}
            </div>
            {% endcall %}
        </div>
    </div>
</div>
<!-- Modal -->
<div id="imageInsertModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="imageInsertModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="imageInsertModalLabel">{{_('Image Insert')}}</h3>
  </div>
  <div class="modal-body">
      <p>{{_('Select Images')}}</p>
      <div id="pagination"></div> 
      <ul class="thumbnails" id="images">
      </ul>
      <div style="display:none;" id="imageinserttarget"></div>
  </div>
  <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">{{_('Close')}}</button>
  </div>
</div>
<div id="addTranslationModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addTranslationModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="addTranslationModalLabel">{{_('Add Translation')}}</h3>
  </div>
  <div class="modal-body">
      <p>{{_('Select Language')}}</p>
      <select id="langList">
          {% for lang in lang_list %}
          <option value="{{lang['code']}}">{{lang['name']}}</option>
          {% endfor %}
      </select>
      <p>
          <a id="addTranslationTab" class="btn btn-primary">{{_('Add Translation')}}</a>
      </p>
  </div>
  <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">{{_('Close')}}</button>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $('textarea').each(function(i,elem){
        elem.insertAdjacentHTML('beforeBegin','<a class="insertimage btn btn-small" targetid="'+elem.id+'"><i class="icon-picture"></i>{{_('Insert Image')}}</a>');
        elem.insertAdjacentHTML('afterEnd','<div class="row" id="imagelist"></div>');
    });
    //$('div.tab-content div:first').show();
    $('a.insertimage').live('click',function() {
        var imageinserttarget = $(this).attr('targetid');
        $('#imageinserttarget').html(imageinserttarget);
        $('#imageInsertModal').modal();
        showImageList(1);
    });
    $('#addTranslation').live('click',function(){
        $('#addTranslationModal').modal();
    });
    $('a.imagepagination').live('click',function(){
        var page = $(this).text();
        showImageList(page);
    });
    $('div.thumbnail').live('click',function(){
        var imageinserttarget = $('#imageinserttarget').text();
        var image_source = $(this).find('img').attr('src');
        var image_id = $(this).find('img').attr('id');
        image_source = image_source.replace(/=s160/,'=s320');
        var image_title = $(this).find('h5').text();
        console.log(image_source);
        console.log(image_title);
        var insert_text = '\n\n!['+image_title+']('+image_source+',"image_id:'+image_id+'"'+')';
        $('#'+imageinserttarget).append(insert_text);

    });
    function showImageList(page){
        $('#images').html('');
        $.getJSON('/admin/image/list/json/?page='+page, function (result) {
            var pages = result.total_pages;
            var current_page = result.current_page;
            var pagination_html ='<div class="pagination"><ul>';
            for(var p=1;p<=pages;p++){
                //write pagination logic here
                if(p == page){var li_class='active';}else{var li_class=''}
                pagination_html += '<li class="'+li_class+'"><a href="javascript:void(0);" class="imagepagination">'+p+'</a></li>';
            }
            pagination_html +='</ul>';
            $('#pagination').html(pagination_html);
            var uploaded_images = result.images;
            for(var i =0; i < uploaded_images.length; i++){
                var temp_html = '<li class="span2">';
                temp_html += '<div class="thumbnail"><a href="#"><img src="'+uploaded_images[i].image_path+'=s160" id="'+uploaded_images[i].id+'">';
                temp_html += '<h5>'+uploaded_images[i].title+'</h5></a></div>';
                temp_html += '</li>';
                $('#images').append(temp_html);
            }
        });
    }
    $('#addTranslationTab').live('click',function(){
        var lang = $('#langList option:selected').val();
        var copy_source = $('div.tab-content div:first').html();
        copy_source = '<div class="tab-pane" id="'+lang+'Tab">'+copy_source+'</div>';
        var tab_source ='<li><a href="#'+lang+'Tab" data-toggle="tab">'+lang+'</a></li>';
        document.querySelector('div.tab-content').insertAdjacentHTML('beforeEnd',copy_source);
        var update_source = '<a class="createTranslation btn btn-large btn-block btn-primary" type="submit">Save</a>';
        update_source += '<input type="hidden" name="lang" id="f_lang" value="'+lang+'">';
        $('#'+lang+'Tab div.form-actions').html(update_source);
        document.querySelector('#addTranslationNode').insertAdjacentHTML('beforeBegin',tab_source);
        $('#addTranslationModal').modal('hide');
        $('#'+lang+'Tab').tab('show');
    });
    $('a[data-toggle="tab"]').live('shown', function (e) {
        e.target // activated tab
        e.relatedTarget // previous tab
    });
    $('a.createTranslation').live('click',function(){
        var $form = $(this).closest('form');
        var params = $form.serializeArray();
        var postParams = {};
        var parentKey = $('#entityKey').text();
        //postParams['parent'] = parentKey;
        for(var i=0;i<params.length;i++){
            if(params[i].name != '_csrf_token'){
                postParams[params[i].name] = params[i].value;
            }
        }
        var modelName = $('#modelName').text();
        var postData = {};
        postData[modelName] = postParams;
        console.log(JSON.stringify(postData));
        $.ajax({
            type: "POST",
            url: "/admin/rest/"+modelName,
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(postData),
            success: function(data) {
                console.log('create translation finished');
            }
        });
    });
    $(document).ready(function() {
        var url = location.href;
        var key = url.match(/update\/.+$/);
        key = key.toString().replace(/update\//,'');
        key = key.toString().replace(/#.+$/,'');
        console.log(key);
        $('#entityKey').html(key);
    });
</script>
{% endblock %}
