{% extends "mainapp/base.html"%}
{% block title %}{{ _('List of model: %s' % model) }}{% endblock %}
{% block description %}{% endblock %}
{% block content %}
<h1>{{ _('List of model: %s' % model) }}</h1>
<div id="main">
    <div id="message" style="font-weight: bold; color: #DDAAAA;">
        {{ message }}
    </div>
    <table id="content-list-table" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>{{_('Title')}}</th>
                <th>{{_('Update')}}</th>
                <th>{{_('Delete')}}</th>
            </tr>
        </thead>
        <tbody>
    {% for entity in entities %}
    <tr id="{{entity.key()}}" {% if entity.display_page_flg == False %}class="warning"{% endif %}>
            <td class="span6" onClick="window.location.href='{{ update_url(entity) }}'">
                <a href="{{ update_url(entity) }}">{{ entity.title }}</a>
                {% if entity.display_time %}
                    <span class="pull-right">({{entity.display_time}})</span>
                {% endif %}
            </td>
            <td class="span3">
                <a href="{{ update_url(entity) }}">{{ _('Update') }}</a>
            </td>
            <td class="span3">
                <a href="{{ delete_url(entity) }}" onClick="if(window.confirm('{{_('Delete this entity?')}}')){return true;}else{return false;}"><i class="icon-trash"></i>{{ _('Delete') }}</a>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
<p id="sort-change-message">
</p>
<a href="{{ create_url() }}" class="btn btn-primary">{{ _('Create new entity') }}</a><br/>
{% if cursor %}
<a href="{{ list_url(cursor) }}">{{ _('Next Page') }}</a>
{% endif %}
{% endblock %}
{% block scripts %}
<script src="/media/js/jquery.tablednd.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#content-list-table").tableDnD({
            onDragClass: "myDragClass",
            onDrop: function(table, row) {
                var rows = table.tBodies[0].rows;
                var new_orders = '';
                for (var i=0; i<rows.length; i++) {
                    new_orders += rows[i].id+";";
                }
                console.log(new_orders);
                var update_order_html = "";
                update_order_html += '<div id="newOrders" style="display:none;">'+new_orders+'</div><button id="updateOrder" class="btn btn-info">{{_('Update Order')}}</button>';
                update_order_html += '&nbsp;{{_('new order is not saved yet.')}}';
                $('#sort-change-message').html(update_order_html);
                $('#updateOrder').live('click',function(){
                    //$('#sort-change-message').html('<img src="/media/img/ajax-loader.gif">');
                    var newOrdersText = $('#newOrders').text();
                    console.log(newOrdersText);
                    $.post('/admin/update/page/order/',{orders:newOrdersText},
                    function(data){
                        $('#sort-change-message').html(data);
                    });
                });
            },
            onDragStart: function(table, row) {
                console.log("Started dragging row "+row.id);
            }
        });
    });
</script>
{% endblock %}
