{% extends "mainapp/base.html"%}
{% block title %}{{ title }}{% endblock %}
{% block description %}{% endblock %}
{% block content %}
<h1>{{ title }}</h1>
<div id="main">
    {% call form(class_='form-horizontal') %}
    {% for f in form %}
    <div class="control-group">
        {{ form[f.name].label(class_='control-label')|safe }}
        <div class="controls">
        {{ form[f.name].render(class_='input-block-level')|safe }}
        </div>
    </div>
    {% endfor %}
    <div class="form-actions">
        <button class="btn btn-large btn-block btn-primary" type="submit">{{_('Save')}}</button>
        {#{{ form.default_actions()|safe }}#}
    </div>
    {% endcall %}
</div>
<!-- Modal -->
<div id="imageInsertModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="imageInsertModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="imageInsertModalLabel">{{_('Image Insert')}}</h3>
  </div>
  <div class="modal-body">
      <p>{{_('Select Images')}}</p>
      <form action="" method="POST"  enctype="multipart/form-data"><input type="file" name="file"><input type="submit"></form>
  </div>
  <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">{{_('Close')}}</button>
    <button class="btn btn-primary">{{_('Save changes')}}</button>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $('textarea').each(function(i,elem){
        elem.insertAdjacentHTML('beforeBegin','<a href="#imageInsertModal" class="btn btn-small" role="button" data-toggle="modal"><i class="icon-picture"></i>{{_('Insert Image')}}</a>');
    });
</script>
{% endblock %}
