{% extends "mainapp/base.html"%}
{% block title %}{{ _('List of model: %s' % model) }}{% endblock %}
{% block description %}{% endblock %}
{% block content %}
<h1>{{ _('List of model: %s' % model) }}</h1>
<div id="main">
    {% if message %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endif %}
        
    <p><a href="{{ create_url() }}" class="btn btn-primary">{{ _('Create new entity') }}</a></p>
    <table id="content-list-table" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>{{_('Title')}}</th>
                <th></th>
                <th>{{_('Update')}}</th>
                <th>{{_('Delete')}}</th>
            </tr>
        </thead>
        <tbody>
    {% for entity in entities %}
    <tr id="{{entity.key()}}" {% if entity.display_page_flg == False %}class="warning"{% endif %}>
            <td class="col-md-5" onClick="window.location.href='{{ update_url(entity) }}'">
                <a href="{{ update_url(entity) }}">{{ entity.title }}</a>

                {% if entity.display_page_flg == False %}
                    <a href="{{url_for('adminapp/preview',entity_key=entity.key())}}" class="btn pull-right" target="_top">{{_('Preview')}}</a>
                {% endif %}
            </td>
            <td class="col-md-3">
                {% if entity.display_time %}
                    {{entity.display_time}}
                {% elif entity.update %}
                    {{entity.update}}
                {% endif %}
            </td>
            <td class="col-md-2">
                <a href="{{ update_url(entity) }}">{{ _('Update') }}</a>
            </td>
            <td class="col-md-2">
                <a href="{{ delete_url(entity) }}" onClick="if(window.confirm('{{_('Delete this entity?')}}')){return true;}else{return false;}"><span class="glyphicon glyphicon-trash"></span>{{ _('Delete') }}</a>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
<p id="sort-change-message">
</p>

<div>
    <ul class="pagination">
        {% if previous_page %}
        <li><a href="{{request.path}}{% if previous_page != 1 %}?page={{previous_page}}{% endif %}">{{_('Prev')}}</a></li>
        {% else %}
            <li class="disabled"><a>{{_('Prev')}}</a></li>
        {% endif %}
        {% for i in range(1,total_pages+1) %}
        <li {% if i == current_page %}class="active"{% endif %}><a href="{{request.path}}{% if i != 1 %}?page={{i}}{% endif %}">{{i}}</a></li>
        {% endfor %}
        {% if has_next %}
            <li><a href="{{request.path}}{% if next_page != 1 %}?page={{next_page}}{% endif %}">{{_('Next')}}</a></li>
        {% else %}
            <li class="disabled"><a>{{_('Next')}}</a></li>
        {% endif %}
    </ul>
</div>

{% endblock %}
{% block scripts %}
<script src="/media/js/jquery.tablednd.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#content-list-table").tableDnD({
            onDragClass: "myDragClass",
            onDrop: function(table, row) {
                var rows = table.tBodies[0].rows;
                var new_orders = '';
                for (var i=0; i<rows.length; i++) {
                    new_orders += rows[i].id+";";
                }
                console.log(new_orders);
                var update_order_html = "";
                update_order_html += '<div id="newOrders" style="display:none;">'+new_orders+'</div><button id="updateOrder" class="btn btn-info">{{_('Update Order')}}</button>';
                update_order_html += '&nbsp;{{_('new order is not saved yet.')}}';
                $('#sort-change-message').html(update_order_html);
                $(document).on('click','#updateOrder',function(){
                    //$('#sort-change-message').html('<img src="/media/img/ajax-loader.gif">');
                    var newOrdersText = $('#newOrders').text();
                    console.log(newOrdersText);
                    $.post('/admin/update/page/order/',{orders:newOrdersText},
                    function(data){
                        $('#sort-change-message').html(data);
                    });
                });
            },
            onDragStart: function(table, row) {
                console.log("Started dragging row "+row.id);
            }
        });
    });
</script>
{% endblock %}
